<html>
    <head>
        <title>
            Nitin's Blog
        </title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet">
        <link  rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
        <div class="ui container">
                <div class="header item"><i class="leaf icon"></i> Welcome</div>
        <a href="/" class=" brown item ">Home</a>
         <a href="/blogs/new" class="brown item"> Add New post</a>
         
        
        </div>
         
        </div>
        <p> Copyright<i class="fa fa-copyright" aria-hidden="true">Nitin Gahlawat 2017-2018</i> </p>
        